<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Garage Cape Town Portfolio</title>
    <link rel="icon" type="image/png" href="">
    <link href="/assets/css/style.css" rel="stylesheet">

</head>

<body>
    <div class="nav_bar">
        <div id="nav">
            <ul>
                <li>
                    <a href="index.hbs">Home</a>
                </li>
                <li>
                    <a href="portfolio.hbs">Portfolio</a>
                </li>
                <li>
                    <a href="contact.hbs">Contact</a>
                </li>
            </ul>
        </div>


    </div>

    <div class="banner_portfolio"></div>

    <div class="portfolio_description">

        {{#with heading}}
        <h1>{{header}}</h1>
        {{/with}}

        {{#with description}}
        <p class="sub_heading">{{sub_heading}}</p>
        {{!-- <p class="about_portfolio"> --}}
        <p>{{paragraph_1}}</p>
        <p>{{paragraph_2}}</p>
        {{/with}}
    </div>

    {{!-- <div class="project_images">
        <img class="project_mockups" src="./images/1.png">
        <img class="project_mockups" src="./images/2.png">
        <img class="project_mockups" src="./images/3.png">
    </div>
    <div class="project_images_2">
        <img class="project_mockups" src="./images/4.png">
        <img class="project_mockups" src="./images/5.png">
        <img class="project_mockups" src="./images/6.png">
    </div> --}}

    <div class="contact"></div>

    <div class="patterns"></div>
    <div class="footer"></div>

</body>

</html>